html {
  background-color: #ececec;
}

h1 {
  min-height: 60px;
  font-size: 1.8em;
  margin: 0.4em 1.4em;
}

h2 {
  margin: 0 0 0.8em 0;
  display: flex;
}

.App {
  text-align: left;
  display: flex;
  height: 100vh;
  color: #2a272a;
}

.SelectedBox {
  background-color: #2a272a;
  display: inline-flexbox;
  color: #eee;
}

.View {
  margin: 0 auto;
}

.Page {
  flex-wrap: wrap;
  flex-direction: row-reverse;
  display: flex;
  width: 88vw;
  height: 88vh;
  padding: 2%;
  margin: auto;
}

.Metrics {
  display: flex;
  flex-wrap: wrap;
}
.QABox {
  background-color: #ececec;
  color: #2a272a;
}

.App-link {
  color: #ffffff;
}

@media only screen and (min-width: 1200px) {
  .Page {
    flex-direction: row;
  }
}

input[type='range'] {
  height: 20px;
  width: 90%;
  border-radius: 26px;
  padding: 0.6em 1.2em;
  /* box-shadow: inset 0px 0px 4px 2px #494125; */
  background-color: #ececec;
  -webkit-appearance: none;
  margin: auto;
}

input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  height: 1em;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #fbdf80;
  border-radius: 18px;
}
input[type='range']::-webkit-slider-thumb {
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  background: #2a272a;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.2rem;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #fbdf80;
}
input[type='range']::-moz-range-track {
  height: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #fbdf80;
  border-radius: 18px;
  border: 0px solid #000000;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 0px #fbdf80;
  border: 0px solid #fbdf80;
  height: 2em;
  width: 2em;
  border-radius: 26px;
  background: #eeeeee;
  cursor: pointer;
}
input[type='range']::-ms-track {
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #fbdf80;
  border: 0px solid #000000;
  border-radius: 36px;
  box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-fill-upper {
  background: #fbdf80;
  border: 0px solid #000000;
  border-radius: 36px;
  box-shadow: 0px 0px 0px #000000;
}
input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #fbdf80;
  border: 0px solid #fbdf80;
  height: 2em;
  width: 2em;
  border-radius: 26px;
  background: #;
  cursor: pointer;
}
input[type='range']:focus::-ms-fill-lower {
  background: #fbdf80;
}
input[type='range']:focus::-ms-fill-upper {
  background: #fbdf80;
}

/* */
input[type='checkbox'] {
  float: right;
  margin: 0 0 0 auto;
}

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 56px;
  height: 28px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #9ca4b4;
  transition: background-color ease 0.4s;
}

.toggle:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  width: 22px;
  height: 22px;
  background: #ececec;
  left: 8%;
  top: 3px;
  border-radius: 50%;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.6s;
}

.toggle:checked {
  background-color: #2d3749;
}

.toggle:checked:before {
  background: #85a2d5;
  left: 50%;
}
