html {
  background-color: #506185; 
}

.App {
  max-width: 80vw;
  text-align: center;
}


.App-header {
  background-color: #506185;
  min-height: 100vh;
  min-width: 100vw;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

.resetButton {
  background-color: #f78080;
  border: none;
  border-radius: 9px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  margin-top: 1.6rem;
}

.resetButton:active {
  outline-style: none;
  background-color: #8f6a6a;
}

.resetButton:focus {
  outline-style: none;
}

div.teamForm {
  width: 400px;
}

.teamForm {
  border-radius: 8px;
  background-color: #323d53;
  padding: 2rem;
}

/* .inputForm {
  width: 600px;
} */

span {
  color: #c2c2e9
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* The following is for the range input styling */
input[type=range] {
  height: 20px;
  background-color: #323d53;
  -webkit-appearance: none;
  margin: 10px auto;
  width: 80%;
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 60%;
  height: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #9ACBE3;
  border-radius: 18px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #9497FF;
  border: 0px solid #2497E3;
  height: 14px;
  width: 14px;
  max-width: 326px;
  border-radius: 26px;
  background: #eeeeee;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #9ACBE3;
}
input[type=range]::-moz-range-track {
  width: 60%;
  height: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #9ACBE3;
  border-radius: 18px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #9497FF;
  border: 0px solid #2497E3;
  height: 14px;
  width: 14px;
  border-radius: 26px;
  background: #eeeeee;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 60%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #9ACBE3;
  border: 0px solid #000000;
  border-radius: 36px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #9ACBE3;
  border: 0px solid #000000;
  border-radius: 36px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #9497FF;
  border: 0px solid #2497E3;
  height: 14px;
  width: 14px;
  border-radius: 26px;
  background: #eeeeee;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #9ACBE3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #9ACBE3;
}

@media screen and (max-width: 400px) {
  
  html {
    max-width: 80vw;
  }
  div.teamForm {
    max-width: 200px;
  }
}